In [11]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm

In [12]:
df = pd.read_csv("DataResults/phases.csv")
df = df.iloc[: , 1:]
df

,PID,Starting Interruption,Starting Task,Condition,Control,d_age,d_gender,d_education,d_asd,d_colorblind,...,te_i_post_time,te_p_name,te_p_pre_correctness,te_p_pre_time,te_p_pre_resumption,te_p_pre_movestotal,te_p_post_correctness,te_p_post_time,te_p_post_resumption,te_p_post_movestotal
0,150657-543833,1,1,1,1,36,Female,University,False,False,...,1.802850,draw,7.25,13.300888,14.046581,NaN,6.0,18.245178,20.688902,NaN
1,189842-198434,1,1,1,1,25,Female,University,False,False,...,1.591400,draw,8.00,9.734822,9.734822,NaN,8.0,8.572062,8.572062,NaN
2,285256-429012,1,1,1,1,27,Male,High School,False,False,...,1.515050,draw,7.50,6.800664,7.561078,NaN,8.0,5.704932,5.704932,NaN
3,486637-941302,1,1,1,1,27,Male,University,False,False,...,1.291812,draw,8.00,8.066688,8.066688,NaN,7.5,10.059899,10.478063,NaN
4,522111-792046,1,1,1,1,24,Male,Masters,False,False,...,2.017275,draw,6.25,11.349828,11.381596,NaN,4.0,7.120666,8.752486,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,883881-672590,2,2,2,0,19,Male,High School,False,False,...,2.052713,hanoi,NaN,12.760413,1.020833,100.0,NaN,17.609862,1.109283,127.0
253,901440-351171,2,2,2,0,19,Female,High School,False,False,...,2.378625,hanoi,NaN,21.016286,1.175736,143.0,NaN,24.785474,1.313138,151.0
254,913584-192754,2,2,2,0,25,Female,Masters,False,False,...,5.299336,hanoi,NaN,27.225561,1.893952,115.0,NaN,31.303175,2.069631,121.0
255,967476-330431,2,2,2,0,25,Male,University,False,False,...,2.665913,hanoi,NaN,21.614099,1.764416,98.0,NaN,24.783737,1.709223,116.0
256,991710-413328,2,2,2,0,45,Male,University,False,False,...,1.959276,hanoi,NaN,18.466324,1.420486,104.0,NaN,16.209437,1.379527,94.0

In [29]:
df = pd.read_csv("DataResults/phases.csv")
df_conditions = df.iloc[: , 1:][["Starting Interruption", "Starting Task"]]
df_conditions = df_conditions.drop_duplicates()

starting_interruption = []
starting_task = []
phases = []
metric_description = []
task_description = []
t_exp = []
p_exp = []
difference_exp = []
#t_control = []
#p_control = []
#difference_control = []
#t_condition = []
#p_condition = []
# entry = [] # condition, metric, task, t-exp, p-exp , difference-exp, t-control, p-control, difference-control

In [14]:
df_conditions

     Condition  Starting Interruption  Starting Task  Control
0            1                      1              1        1
15           2                      1              1        1
30           1                      1              2        1
45           2                      1              2        1
60           1                      2              1        1
75           2                      2              1        1
92           1                      2              2        1
108          2                      2              2        1
124          1                      1              1        0
139          2                      1              1        0
154          1                      1              2        0
169          2                      1              2        0
190          1                      2              1        0
206          2                      2              1        0
222          1                      2              2        0
238          2                      2              2        0

In [30]:
# helpers for interpreting t-test statistics

def is_improvement(change):
    if (change > 0):
        return "increased [+]"
    return "decreased [-]"

def is_significant(p):
    if (p <= 0.005):
        return "extremely significantly [**]"
    elif (p <= 0.05):
        return "significantly [*]"
    elif (p <= 0.03):
        return "slightly"
    return ""

def compute_improvement(col1, col2):
    col3 = col2 - col1
    avg = sum(col3)/len(col3)
    t, p = stats.ttest_ind(col1, col2)
    return t, p, avg

In [31]:
def compare_improvement(task, interruption, phase, metric_descript, df_data, pre_metric, post_metric):
    t_0, p_0, diff_0 = compute_improvement(
        df_data[(df_data['Starting Task'] == task) & (df_data['Starting Interruption'] == interruption)][pre_metric].astype(float), 
        df_data[(df_data['Starting Task'] == task) & (df_data['Starting Interruption'] == interruption)][post_metric].astype(float))
    
    print(t_0, p_0, diff_0)
    starting_interruption.append(interruption)
    starting_task.append(task)
    phases.append(phase)
    metric_description.append(metric_descript)
    t_exp.append(t_0)
    p_exp.append(p_0)
    difference_exp.append(diff_0)

In [32]:
for index, row in df_conditions.iterrows():
    if row['Starting Task'] == 1:
        compare_improvement(row['Starting Task'], row['Starting Interruption'], 'assessment', 'accuracy on primary task', df, 'a_p_pre_correctness', 'a_p_post_correctness')
        compare_improvement(row['Starting Task'], row['Starting Interruption'], 'training', 'accuracy on primary task', df, 'tr_p_pre_correctness', 'tr_p_post_correctness')
        compare_improvement(row['Starting Task'], row['Starting Interruption'], 'testing', 'accuracy on primary task', df, 'te_p_pre_correctness', 'te_p_post_correctness')
    else:
        compare_improvement(row['Starting Task'], row['Starting Interruption'], 'assessment', 'accuracy on primary task', df, 'a_p_pre_movestotal', 'a_p_post_movestotal')
        compare_improvement(row['Starting Task'], row['Starting Interruption'], 'training', 'accuracy on primary task', df, 'tr_p_pre_movestotal', 'tr_p_post_movestotal')
        compare_improvement(row['Starting Task'], row['Starting Interruption'], 'testing', 'accuracy on primary task', df, 'te_p_pre_movestotal', 'te_p_post_movestotal')
        
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'assessment', 'accuracy on interrupting task', df, 'a_i_pre_percentage', 'a_i_post_percentage')
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'assessment', 'speed on primary task', df, 'a_p_pre_time', 'a_p_post_time')
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'assessment', 'interruption lag / speed on interrupting task', df, 'a_i_pre_time', 'a_i_post_time')
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'assessment', 'resumption lag', df, 'a_p_pre_resumption', 'a_p_post_resumption')
    
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'training', 'accuracy on interrupting task', df, 'tr_i_pre_percentage', 'tr_i_post_percentage')
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'training', 'speed on primary task', df, 'tr_p_pre_time', 'tr_p_post_time')
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'training', 'interruption lag / speed on interrupting task', df, 'tr_i_pre_time', 'tr_i_post_time')
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'training', 'resumption lag', df, 'tr_p_pre_resumption', 'tr_p_post_resumption')
    
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'testing', 'accuracy on interrupting task', df, 'te_i_pre_percentage', 'te_i_post_percentage')
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'testing', 'speed on primary task', df, 'te_p_pre_time', 'te_p_post_time')
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'testing', 'interruption lag / speed on interrupting task', df, 'te_i_pre_time', 'te_i_post_time')
    compare_improvement(row['Starting Task'], row['Starting Interruption'], 'testing', 'resumption lag', df, 'te_p_pre_resumption', 'te_p_post_resumption')

-0.8504220751455553 0.3968127778353141 0.2
nan nan nan
0.12327608524215186 0.9020982060029401 -0.029166666666666667
0.7503975616499733 0.45450899181340887 -0.01875
1.8724667792506609 0.0636172390148845 -1.2342779054666664
2.5070064332450563 0.013536289141925057 -0.8272420294
2.206785920616559 0.029264515103511454 -1.5087771120000004
-0.6201337473880538 0.536365497481067 0.01875
1.2136088977193367 0.2273206880614326 -32.292710858166664
1.8702953749067477 0.06392063660849498 -0.4282387941333334
nan nan nan
-1.6202280837528802 0.10785272289725144 0.041666666666666664
0.12357353574209659 0.9018631892140345 -0.06872102639999995
2.7583229358619774 0.006735782201165144 -0.4705673343833333
-0.3287969669075282 0.7428919657710158 0.1683190250833335
8.33695408114825 9.473257303632765e-14 -76.42424242424242
nan nan nan
2.1145135858155792 0.03638072425493683 -11.151515151515152
0.8502145427380557 0.39676899269374666 -0.01893939393939394
4.834672503302577 3.701525583628662e-06 -6.071775947606058
4.882606462847301 3.0161619152540998e-06 -0.601943048030303
3.279010866908869 0.0013368207697850051 -0.8510647007575755
-3.0562439117352738 0.0027207239892294297 0.05113636363636364
0.4961195625495367 0.6206478226235651 -6.846422761757573
1.7826733334628637 0.07697346314148648 -0.3429007547121213
nan nan nan
-0.2994247358081709 0.765094173531032 0.003787878787878788
2.455350103231174 0.015395863321207652 -2.641154731212122
2.1508705128672787 0.03333616780972481 -0.16906079243939404
0.7397371485787707 0.460793254493874 -0.05719004601515153
-0.9663154931165839 0.335737411258593 0.21875
nan nan nan
0.318598026585052 0.7505588555910219 -0.06640625
0.0 1.0 0.0
1.8267073507257534 0.07011077490813916 -0.7802367683437498
4.097577829489578 7.42206890324671e-05 -0.6747543126718752
2.5696758647567712 0.011343824212467145 -1.4878881381875002
2.243392580678061 0.026618045299268093 -0.0546875
1.2061785382570736 0.23000861131305186 -19.851317924624997
-0.4313734817757476 0.6669339918984973 0.09206835512500004
nan nan nan
0.14396907053919505 0.8857549029184435 -0.00390625
1.4987810332054794 0.13643172229686543 -0.6415216987968752
2.094326835260926 0.03823447430455799 -0.28172901657812516
1.6535893105388964 0.10070034733562842 -0.6705998224218751
8.317197248921545 9.73968506928301e-14 -86.29850746268657
nan nan nan
1.9554056931109822 0.05264781531650053 -9.805970149253731
-0.5351137568577984 0.5934715274343962 0.013059701492537313
3.7134484269438253 0.00030058063841887457 -7.7285135148358215
3.5763620622722287 0.0004876718524455838 -0.751483317164179
1.8283878662921849 0.06974904822699414 -0.6675149440298501
-0.599977737788242 0.5495496570108709 0.013059701492537313
0.3939324679305461 0.6942665377936077 -6.914936752223884
1.3036098672268142 0.19463564411388903 -0.2352499337462686
nan nan nan
-0.6608186004550897 0.5098803108289987 0.018656716417910446
1.7681193200638077 0.0793511738137156 -3.106125042835821
0.6141207659579633 0.5401925169849439 -0.1533782595671641
0.7737946993261944 0.44043583594385693 -0.10309425356716417

c:\users\rramn\appdata\local\programs\python\python38\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
c:\users\rramn\appdata\local\programs\python\python38\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
c:\users\rramn\appdata\local\programs\python\python38\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
c:\users\rramn\appdata\local\programs\python\python38\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
c:\users\rramn\appdata\local\programs\python\python38\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
c:\users\rramn\appdata\local\programs\python\python38\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
c:\users\rramn\appdata\local\programs\python\python38\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
c:\users\rramn\appdata\local\programs\python\python38\lib\site-packages\scipy\stats\_distn_infrastructure.py:1932: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [33]:
columnTitles = {
    "Starting Interruption": starting_interruption,
    "Starting Task": starting_task,
    "Phase": phases,
    "Metric": metric_description,
    "t": t_exp,
    "p": p_exp,
    "diff": difference_exp
}

dataframe = pd.DataFrame(columnTitles)
dataframe.to_csv('phases-task-interruption.csv')
print('DONE')

DONE